body {
  background-color:white;
}

h1,p,h2, nav{
  margin: 0.5em 0.5em 0.5em 0.5em;
}

ul {
  display: flex;
}
li{
  margin-left: 0.25em;
}


header, footer {
  color:white;
  background-color: #3D6271;
  margin: 0em 4em 0.5em 4em;
}
