/* general text formatting */

header, footer {
  color:white;
  background-color: #3D6271;
  margin: 0em 4em 0.5em 4em;
}

h1,p,nav{
    margin: 1em 0.5em 0.5em 0.5em;
}

nav li {
  display: inline;
}
article{
  margin: 0em 4em 0.5em 4em;
}
